@import 'locomotive-scroll/dist/locomotive-scroll.css';
@import 'tailwindcss';

@theme inline {
    --font-primary: var(--font-primary)
}

:root {
    --font-primary: "bahnschrift", "Inter", sans-serif;
}

* {
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;                
}